In [1]:
import sqlite3
import pandas as pd
from pyprojroot import here

In [2]:
# Connect to the SQLite database
conn = sqlite3.connect(here('data/travel2.backup.sqlite'))
# Get a list of tables in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

                    name
0         aircrafts_data
1          airports_data
2        boarding_passes
3               bookings
4                flights
5                  seats
6         ticket_flights
7                tickets
8            car_rentals
9                 hotels
10  trip_recommendations