In [1]:
from pyprojroot import here
import pandas as pd

In [2]:
df = pd.read_csv(here("data/movie_csv/movie.csv"))
df['released'] = pd.to_datetime(df['released'])

In [3]:
df.head(3)

,movieId,released,title,actors,director,genres,imdbRating,similar_movie,tagline,location
0,1,1995-11-22,Toy Story,Jim Varney|Tim Allen|Tom Hanks|Don Rickles,John Lasseter,Adventure|Animation|Children|Comedy|Fantasy,8.3,Finding Nemo,The adventure takes off!,United States
1,2,1995-12-15,Jumanji,Robin Williams|Bradley Pierce|Kirsten Dunst|Jo...,Joe Johnston,Adventure|Children|Fantasy,6.9,Jumanji: Welcome to the Jungle,Roll the dice and unleash the excitement!,United States
2,3,1995-12-22,Grumpier Old Men,Walter Matthau|Ann-Margret|Jack Lemmon|Sophia ...,Howard Deutch,Comedy|Romance,6.6,The Bucket List,Still Yelling. Still Fighting. Still Ready for...,United States

In [13]:
# "What movies did Powers Boothe act in?"
df[df["actors"].str.contains("Powers Boothe", case=False)]["title"].values

array(['Sudden Death', 'Nixon'], dtype=object)

In [10]:
# "What was the cast of the Casino?"
df[df["title"]=="Casino"]["actors"].values[0]

'Robert De Niro|Joe Pesci|Sharon Stone|James Woods'

In [11]:
# "What movies are about love?"
df[df["tagline"].str.contains("love", case=False)]["title"].values

array(['Grumpier Old Men'], dtype=object)

In [12]:
# "What movies are about addventure?"
df[df["tagline"].str.contains("adventure", case=False)]["title"].values

array(['Toy Story', 'Cutthroat Island', 'Ace Ventura: When Nature Calls'],
      dtype=object)

In [18]:
# moderate_question = "What are the most common genres for movies released in 1995?"
filtered_df = df[df['released'].dt.year == 1995]
genres_df = filtered_df['genres'].str.split('|', expand=True).stack().reset_index(level=1, drop=True)
genre_counts = genres_df.value_counts()
print("Genre Counts for the year 1995:")
print(genre_counts)

Genre Counts for the year 1995:
Comedy       10
Adventure     6
Romance       5
Action        5
Children      4
Drama         4
Crime         3
Thriller      3
Animation     2
Fantasy       2
Horror        1
dtype: int64

In [19]:
# "What are the similar movies to the ones that Tom Hanks acted in?"
df_tom_hanks = df[df['actors'].str.contains('tom hanks', case=False)]
display(df_tom_hanks[["title", "similar_movie"]])

       title similar_movie
0  Toy Story  Finding Nemo

In [20]:
# From the movies that took place in United States, how many had the action genre?
filtered_df = df[df['location']=="United States"]
display(filtered_df[filtered_df['genres'].str.contains('action', case=False)])

,movieId,released,title,actors,director,genres,imdbRating,similar_movie,tagline,location
5,6,1995-12-15,Heat,Al Pacino|Robert De Niro|Val Kilmer|Jon Voight,Michael Mann,Action|Crime|Thriller,8.2,The Departed,A Los Angeles crime saga,United States
8,9,1995-12-22,Sudden Death,Jean-Claude Van Damme|Powers Boothe|Raymond J....,Peter Hyams,Action,5.7,Die Hard,Terror goes into overtime.,United States
19,20,1995-11-22,Money Train,Wesley Snipes|Robert Blake|Woody Harrelson|Jen...,Joseph Ruben,Crime|Comedy|Thriller|Drama|Action,5.6,Speed,"Get on, or GET OUT THE WAY!",United States