In [1]:
import pandas as pd
from pyprojroot import here

**Load the movie data (only the first 20 rows for simplicity)**

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/tomasonjo/blog-datasets/main/movies/movies_small.csv", nrows=20)
display(df.head(3))
print(df.shape)
print(df.columns)

,movieId,released,title,actors,director,genres,imdbRating
0,1,1995-11-22,Toy Story,Jim Varney|Tim Allen|Tom Hanks|Don Rickles,John Lasseter,Adventure|Animation|Children|Comedy|Fantasy,8.3
1,2,1995-12-15,Jumanji,Robin Williams|Bradley Pierce|Kirsten Dunst|Jo...,Joe Johnston,Adventure|Children|Fantasy,6.9
2,3,1995-12-22,Grumpier Old Men,Walter Matthau|Ann-Margret|Jack Lemmon|Sophia ...,Howard Deutch,Comedy|Romance,6.6

(20, 7)
Index(['movieId', 'released', 'title', 'actors', 'director', 'genres',
       'imdbRating'],
      dtype='object')

In [3]:
df["title"][:20].values

array(['Toy Story', 'Jumanji', 'Grumpier Old Men', 'Waiting to Exhale',
       'Father of the Bride Part II', 'Heat', 'Sabrina', 'Tom and Huck',
       'Sudden Death', 'GoldenEye', 'American President, The',
       'Dracula: Dead and Loving It', 'Balto', 'Nixon',
       'Cutthroat Island', 'Casino', 'Sense and Sensibility',
       'Four Rooms', 'Ace Ventura: When Nature Calls', 'Money Train'],
      dtype=object)

**Add tagline to the dataframe**

In [4]:
# Generate some taglines using chatgot:
tagline = ["The adventure takes off!",
"Roll the dice and unleash the excitement!",
"Still Yelling. Still Fighting. Still Ready for Love.",
"Friends are the people who let you be yourself... and never let you forget it.",
"Just When His World Is Back To Normal... He's In For The Surprise Of His Life!",
"A Los Angeles crime saga",
"You are cordially invited to the most surprising merger of the year.",
"The Original Bad Boys.",
"Terror goes into overtime.",
"No limits. No fears. No substitutes.",
"Why can't the most powerful man in the world have the one thing he wants most?",
"Give blood...a whole new meaning.",
"Part Dog. Part Wolf. All Hero.",
"He had greatness within his grasp.",
"The Course Has Been Set. There Is No Turning Back. Prepare Your Weapons. Summon Your Courage. Discover the Adventure of a Lifetime!",
"No one stays at the top forever.",
"Lose your heart and come to your senses.",
"Twelve outrageous guests. Four scandalous requests. And one lone bellhop, in his first day on the job, who's in for the wildest New year's Eve of his life.",
"New animals. New adventures. Same hair.",
"Get on, or GET OUT THE WAY!"]

location = ["United States", "United States", "United States", "United States", "United States", 
           "United States", "United States", "United States", "United States", "United Kingdom", 
           "United States", "United States", "United States", "United States", "Malta", 
           "United States", "United Kingdom", "United States", "United States", "United States"]

similar_movie = ["Finding Nemo", "Jumanji: Welcome to the Jungle", "The Bucket List", "The Best Man Holiday", "Cheaper by the Dozen", 
                 "The Departed", "Notting Hill", "The Adventures of Huck Finn", "Die Hard", "Mission Impossible", 
                 "Dave", "Dead and Loving It: Young Frankenstein", "Spirit: Stallion of the Cimarron", "JFK", "Pirates of the Caribbean: The Curse of the Black Pearl",
                 "Goodfellas", "Pride and Prejudice", "Pulp Fiction", "The Mask", "Speed"
                 ]

In [5]:
df["similar_movie"] = similar_movie
df["tagline"] = tagline
df["location"] = location

In [6]:
df.head(3)

,movieId,released,title,actors,director,genres,imdbRating,similar_movie,tagline,location
0,1,1995-11-22,Toy Story,Jim Varney|Tim Allen|Tom Hanks|Don Rickles,John Lasseter,Adventure|Animation|Children|Comedy|Fantasy,8.3,Finding Nemo,The adventure takes off!,United States
1,2,1995-12-15,Jumanji,Robin Williams|Bradley Pierce|Kirsten Dunst|Jo...,Joe Johnston,Adventure|Children|Fantasy,6.9,Jumanji: Welcome to the Jungle,Roll the dice and unleash the excitement!,United States
2,3,1995-12-22,Grumpier Old Men,Walter Matthau|Ann-Margret|Jack Lemmon|Sophia ...,Howard Deutch,Comedy|Romance,6.6,The Bucket List,Still Yelling. Still Fighting. Still Ready for...,United States

**Save the csv file**

In [8]:
df.to_csv(here("data/movie_csv/movie.csv"), sep=",", index=False)